@use "../1-settings/variables" as v;
@use "../2-tools/functions" as f;

.button,
a.button {
    padding: .5rem 1.5rem;
    font-family: v.$font-family-sans;
    font-size: f.rem(18);
    color: v.$color-white;
    cursor: pointer;
    background-color: v.$color-primary;
    border: 0px;
    border-radius: 15px;
    transition: background-color 0.2s ease;

    &:hover {
        background-color: v.$color-primary-hover;
    }
}  