@use "../1-settings/variables" as v;
@use "../2-tools/functions" as f;
@use "../2-tools/mixins" as m;


.city-stage {
    padding-block: 3rem;
    display: flex;
    flex-direction: column;

    &__day {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "img content";
        gap: 3rem;
        align-items: start;
        margin-bottom: 4rem;
        text-align: justify;

        @include m.respond(mobile) {
            grid-template-columns: 1fr;
            grid-template-areas:
                "img"
                "content";
            gap: 2rem;
        }
    }

    &__presentation {
        grid-area: img;
        display: block;
    }

    &__img {
        width: 100%;
        height: auto;
        margin-bottom: .5rem;
        border-radius: 0.5rem;
        object-fit: cover;
    }

    &__caption {
        text-align: center;
        font-size: f.rem(14);

        @include m.respond(mobile) {
            font-size: f.rem(13);
        }
    }

    &__content {
        grid-area: content;
    }

    &__text {
        margin-bottom: 1rem;
    }

    &__navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include m.respond(mobile) {
            flex-direction: column;
            gap: 2rem;
        }
    }

    &__button-prev,
    &__button-next {
        display: inline-flex;
        align-items: center;
        gap: 0.5rem;
    }


    &__iframe {
        width: 100%;
        height: f.rem(500);
        border-radius: .5rem;
        margin: .75rem 0 3rem 0;

        @include m.respond(mobile) {
            height: f.rem(300);
        }
        
        @include m.respond(tablet) {
            height: f.rem(400);
        }
    }
}