@use "../1-settings/variables" as v;
@use "../2-tools/functions" as f;


.city-stage {
    padding-block: 3rem;
    display: flex;
    flex-direction: column;

    &__day {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "img content";
        gap: 3rem;
        align-items: start;
        margin-bottom: 4rem;
        text-align: justify;
    }

    &__presentation {
        grid-area: img;
        display: block;
    }

    &__img {
        width: 100%;
        height: auto;
        margin-bottom: .5rem;
        border-radius: 0.5rem;
        object-fit: cover;
    }

    &__caption {
        text-align: center;
        font-size: f.rem(14);
    }

    &__content {
        grid-area: content;
    }

    &__text {
        margin-bottom: 1rem;
    }

    &__button {
        margin-top: 1rem;
        align-self: flex-end;
    }

    &__iframe {
        width: 100%;
        height: f.rem(500);
        border-radius: .5rem;
        margin-bottom: 2rem;
    }
}