@use "../1-settings/variables" as v;
@use "../2-tools/functions" as f;

.hero,
.hero-itinerary,
.hero-tokio,
.hero-kioto-nara {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 70vh;
    padding-inline: 1.5rem;
    margin-inline: auto;
    text-align: center;
    background-position: center;
    background-size: cover;

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background: f.opacity(v.$color-white, 0.2);
        z-index: 1;
    }

    &__content {
        position: relative;
        z-index: 2; 
    }
}

.hero {
    background-image: url('../images/hero-img.jpg');
}

.hero-itinerary {
    background-image: url('../images/hero-itinerary.jpg');
}

.hero-tokio {
    background-image: url('../images/hero-tokio.jpg');
    background-position: center top;
} 

.hero-kioto-nara {
    background-image: url('../images/hero-kioto-nara.jpg');
}