@use "../1-settings/variables" as v;
@use "../2-tools/functions" as f;

.hero,
.hero-itinerary {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 70vh;
    padding-inline: 1.5rem;
    margin-inline: auto;
    text-align: center;
    background-position: center;
    background-size: cover;
}

.hero {
    background-image: url('../images/hero-img.jpg');
}

.hero-itinerary {
    background-image: url('../images/hero-itinerary.jpg');

    &__subtitle {
        font-family: v.$font-family-serif;
        text-align: center;
        font-size: f.rem(30);
    }

}