@use "../1-settings/variables" as v;
@use "../2-tools/functions" as f;
@use "../2-tools/mixins" as m;

.hero,
.hero-itinerary,
.hero-tokio,
.hero-kioto-nara,
.hero-resources,
.hero-contact {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 70vh;
    padding-inline: 1.5rem;
    margin-inline: auto;
    text-align: center;
    background-position: center;
    background-size: cover;

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background: f.opacity(v.$color-white, 0.3);
        z-index: 1;
    }

    &__content {
        position: relative;
        z-index: 2; 
    }
}

.hero {
    background-image: url('../images/hero-img.jpg');
}

.hero-itinerary {
    background-image: url('../images/hero-itinerary.jpg');
}

.hero-tokio {
    background-image: url('../images/hero-tokio.jpg');
    background-position: center top;
} 

.hero-kioto-nara {
    background-image: url('../images/itinerary-kioto.jpg');

    &__line-break {
        @include m.respond(mobile) {
            display: block;
        }
    }
}

.hero-resources {
    background-image: url('../images/hero-resources.jpg');
    background-position: center top;

    @include m.respond(mobile) {
        background-position: left center;
    }
}

.hero-contact {
    background-image: url('../images/hero-contact.jpg');
    background-position: center top;
}

.hero-itinerary__subtitle,
.hero-tokio__subtitle,
.hero-kioto-nara__subtitle,
.hero-resources__subtitle,
.hero-contact__subtitle {
    margin-bottom: 0;
} 