@use "../2-tools/functions" as f;
@use "../1-settings/variables" as v;
@use "../2-tools/mixins" as m;

.home-itinerary {
    padding-block: 3rem;
    justify-content: center;

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
        justify-items: center;
        margin-bottom: 2rem;
        text-align: center;

        @include m.respond(mobile) {
            grid-template-columns: repeat(1, 1fr);
            gap: 2rem;
        }
    }

    &__img {
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
        object-fit: cover;
        border-radius: 0.5rem;
        transition: opacity 0.3s ease;

        &:hover {
            opacity: 0.8;
        }
    }

    &__title {
        transition: color 0.3s ease;

        &:hover {
            color: v.$color-primary;
        }
    }

    &__button {
        text-align: center;
    }
}