@use "../1-settings/variables" as v;
@use "../2-tools/functions" as f;
@use "../2-tools/mixins" as m;


.itinerary-detail {
    padding-block: 3rem;
    justify-content: center;

    &__stage {
        display: grid;
        grid-template-columns: 1.3fr 1fr;
        grid-template-areas: "img content";
        gap: 4rem;
        align-items: start;
        margin-bottom: 5rem;
        text-align: justify;

        @include m.respond(mobile) {
            grid-template-columns: 1fr;
            grid-template-areas:
                "img"
                "content";
            gap: 0;
            text-align: center;
        }

        &--reverse {
            grid-template-columns: 1fr 1.3fr;
            grid-template-areas: "content img";

            @include m.respond(mobile) {
                grid-template-columns: 1fr;
                grid-template-areas:
                    "img"
                    "content";
            }
        }
    }

    &__link {
        grid-area: img;
        display: block;
    }

    &__img {
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
        object-fit: cover;
        border-radius: 0.5rem;
        transition: opacity 0.3s ease;

        &:hover {
            opacity: 0.8;
        }
    }

    &__text {
        margin-bottom: 1rem;
        text-align: justify;
    }

    &__button {
        margin-top: 1rem;
        display: inline-block;
    }
}