@use "../1-settings/variables" as v;

.header {
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: v.$color-opacity;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);

    &__nav {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.5rem 8rem;
    }

    &__logo {
        position: absolute;
        left: 8rem;
        display: flex;
        align-items: center;
    }

    &__img {
        height: 2.25rem; 
        width: auto;
        display: block;
    }

    &__list {
        display: flex;
        justify-content: center;
        gap: 3rem;
        list-style: none;
    }

    &__link {
        color: v.$color-black;

        &:hover {
            color: v.$color-primary;
        }
    }

}