@use "../1-settings/variables" as v;
@use "../2-tools/functions" as f;

.header {
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: v.$color-opacity;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);

    &__nav {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.5rem 8rem;
    }

    &__logo {
        position: absolute;
        left: 8rem;
        display: flex;
        align-items: center;
    }

    &__img {
        height: 2.25rem; 
        width: auto;
        display: block;
    }

    &__list {
        display: flex;
        justify-content: center;
        gap: 3rem;
        list-style: none;
    }

    &__link {
        color: v.$color-black;

        &:hover {
            color: v.$color-primary;
        }
    }

    &__item {
        position: relative;
    }

    &__icon-dropdown {
        margin-left: 0.25rem;
        color: v.$color-primary;
    }
    
    &__submenu {
        position: absolute;
        top: calc(100% + 1.5rem);
        left: 0;
        background-color: v.$color-opacity;
        -webkit-backdrop-filter: blur(6px);
        backdrop-filter: blur(6px);
        border-radius: 0 0 .5rem  .5rem;
        list-style: none;
        margin: 0;
        padding: 0.5rem 1rem;
        min-width: f.rem(250);
        opacity: 0;
        visibility: hidden;
        transform: translateY(0);
        transition: all 0.3s ease;
    }

    &__submenu li {
        margin: 0.75rem 0;
    }

    &__sublink {
        color: v.$color-black;
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
            color: v.$color-primary;
        }
    }

    &__item--has-submenu:hover .header__submenu {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}