@use "../1-settings/variables" as v;
@use "../2-tools/functions" as f;

.resources {

    &__section {
        margin-bottom: 4rem;
    
        &-images:first-of-type {
            margin-bottom: 2rem;
        }

        &__text {
            text-align: justify;
        }
    }

    &__title {
        margin-bottom: 2rem;
        display: inline-block;
        position: relative;

        &::after {
            content: "";
            display: block;
            position: absolute;
            width: 100%;        
            height: 1px;          
            background-color: v.$color-primary;
            border-radius: 2px;
            margin-top: .5rem;
        }
    }
}