@use "../1-settings/variables" as v;


.skip-link {
    position: absolute;
    top: -100px;
    left: 8rem;
    padding: 1rem 2rem;
    background-color: v.$color-black;
    color: v.$color-white;
    z-index: 9999;
    text-decoration: none;
    border-radius: .25rem;
    transition: top .3s ease;

    &:focus {
        top: 10px;
    }
}
