@use "../1-settings/variables" as v;

.travel-reasons {
  padding-block: 3rem;
  text-align: center;

  &__intro {
    margin-bottom: 2.5rem;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
    justify-items: center;
    padding: 0;
  }

  &__item {
    align-items: center;
    justify-content: center;
    list-style: none;
  }

  &__icon {
    padding-bottom: 2rem;
    font-size: 3rem;
    color: v.$color-primary;
  }
}


