<header class="header" id="header">
    <nav class="header__nav">
        <a href="/" class="header__logo">
            <img src="./assets/images/logo.png" alt="Logotipo Descubriendo Japón" class="header__img">
        </a>

        <ul class="header__list">
            <li><a href="./index.html" class="header__link">Inicio</a></li>
            <li><a href="./itinerary.html" class="header__link">Itinerario</a></li>
            <li><a href="/" class="header__link">Recursos</a></li>
            <li><a href="/" class="header__link">Contacto</a></li>
        </ul>
    </nav>
</header>