<section class="hero-tokio">
    <picture class="hero-tokio__picture">
        <img 
            src="./assets/images/hero-tokio-desktop.jpg" 
            alt="Vista de Tokio al atardecer con la torre Tokyo Skytree"
            class="hero-tokio__image">
    </picture>

    <div class="hero-tokio__content animate__animated animate__fadeInDown">
        <h1 class="hero-tokio__title o-title--h1">Tokio (días 1-5)</h1>
        <p class="hero-tokio__subtitle subtitle">Tokio en cinco días: lo esencial para una primera toma de contacto con Japón.</p>
    </div>
</section>