<section class="hero-itinerary">
    <picture class="hero-itinerary__picture">
        <img 
            src="./assets/images/hero-itinerary-desktop.jpg" 
            alt="Fosa de Chidorigafuchi en Tokio durante la temporada de cerezos en flor"
            class="hero-itinerary__image">
    </picture>

    <div class="hero-itinerary__content animate__animated animate__fadeInDown">
        <h1 class="hero-itinerary__title o-title--h1">Itinerario del viaje</h1>
        <p class="hero-itinerary__subtitle subtitle">Descubre cada etapa de tu viaje por Japón.</p>
    </div>    
</section>