<section class="hero-resources">
    <picture class="hero-resources__picture">
        <img 
            src="./assets/images/hero-resources-desktop.jpg" 
            alt="Templo japonés tradicional con flores de cerezo y ramas en primer plano"
            class="hero-resources__image">
    </picture>

    <div class="hero-resources__content animate__animated animate__fadeInDown">
        <h1 class="hero-resources__title o-title--h1">Recursos</h1>
        <p class="hero-resources__subtitle subtitle">En esta página se detallan todos los recursos y herramientas utilizadas para el desarrollo del sitio web.</p>
    </div>
</section>