<div class="kioto-nara-intro city-intro" id="kioto-nara-intro">
    <p class="kioto-nara-intro__text city-intro__text animate__animated animate__fadeIn animate__delay-1s">Tras los días intensos en Tokio, el viaje continúa hacia el corazón más tradicional de Japón. En <strong>Kioto</strong>, los templos, jardines y callejones transmiten la serenidad del antiguo imperio, mientras que <strong>Nara</strong>, con sus ciervos sagrados y templos monumentales, conserva la esencia espiritual del país. Una etapa para bajar el ritmo y descubrir la belleza más tranquila de Japón.</p>

    <div class="kioto-nara-intro__swiper city-intro__swiper swiper animate__animated animate__fadeIn animate__delay-2s">
        <div class="swiper-wrapper">

            <div class="swiper-slide kioto-nara-intro__slide city-intro__slide">
                <img class="kioto-nara-intro__image city-intro__image" src="./assets/images/kioto-intro-1.jpg" alt="Atardecer en un canal con cerezos y una barca con pasajeros."/>
            </div>

            <div class="swiper-slide kioto-nara-intro__slide city-intro__slide">
                <img class="kioto-nara-intro__image city-intro__image" src="./assets/images/kioto-intro-2.jpg" alt="Cruce de Shibuya en Tokio con peatones y anuncios luminosos."/>
            </div>

            <div class="swiper-slide kioto-nara-intro__slide city-intro__slide">
                <img class="kioto-nara-intro__image city-intro__image" src="./assets/images/kioto-intro-3.jpg" alt="Linternas de papel en un festival nocturno de floración de cerezos (sakura)."/>
            </div>

            <div class="swiper-slide kioto-nara-intro__slide city-intro__slide">
                <img class="kioto-nara-intro__image city-intro__image" src="./assets/images/kioto-intro-4.jpg" alt="Foso de Chidorigafuchi en Tokio, durante la temporada de floración de los cerezos."/>
            </div>

            <div class="swiper-slide kioto-nara-intro__slide city-intro__slide">
                <img class="kioto-nara-intro__image city-intro__image" src="./assets/images/nara-intro-1.jpg" alt="Foso de Chidorigafuchi en Tokio, durante la temporada de floración de los cerezos."/>
            </div>

            <div class="swiper-slide kioto-nara-intro__slide city-intro__slide">
                <img class="kioto-nara-intro__image city-intro__image" src="./assets/images/nara-intro-2.jpg" alt="Foso de Chidorigafuchi en Tokio, durante la temporada de floración de los cerezos."/>
            </div>

            <div class="swiper-slide kioto-nara-intro__slide city-intro__slide">
                <img class="kioto-nara-intro__image city-intro__image" src="./assets/images/nara-intro-3.jpg" alt="Foso de Chidorigafuchi en Tokio, durante la temporada de floración de los cerezos."/>
            </div>

        </div>

        <div class="kioto-nara-intro__pagination city-intro__pagination swiper-pagination"></div>
        <div class="kioto-nara-intro__button kioto-nara-intro__button--prev swiper-button-prev city-intro__button"></div>
        <div class="kioto-nara-intro__button kioto-nara-intro__button--next swiper-button-next city-intro__button"></div>
    </div>
</div>
