<div class="tokio-intro" id="tokio-intro">
    <p class="tokio-intro__text"><strong>Tokio</strong> es el punto de partida ideal para conocer Japón. Una ciudad inmensa, diversa y llena de contrastes. En estos primeros días descubrirás algunos de sus barrios más emblemáticos, desde el cruce de Shibuya hasta los templos de Asakusa, pasando por miradores y zonas que muestran su cara más moderna y su lado más tradicional.</p>

    <div class="tokio-intro__swiper swiper">
        <div class="swiper-wrapper">

            <div class="swiper-slide tokio-intro__slide">
                <img class="tokio-intro__image" src="./assets/images/tokio-intro-1.jpg" alt="Atardecer en un canal con cerezos y una barca con pasajeros."/>
            </div>

            <div class="swiper-slide tokio-intro__slide">
                <img class="tokio-intro__image" src="./assets/images/tokio-intro-2.jpg" alt="Cruce de Shibuya en Tokio con peatones y anuncios luminosos."/>
            </div>

            <div class="swiper-slide tokio-intro__slide">
                <img class="tokio-intro__image" src="./assets/images/tokio-intro-3.jpg" alt="Linternas de papel en un festival nocturno de floración de cerezos (sakura)."/>
            </div>

            <div class="swiper-slide tokio-intro__slide">
                <img class="tokio-intro__image" src="./assets/images/tokio-intro-4.jpg" alt="Foso de Chidorigafuchi en Tokio, durante la temporada de floración de los cerezos."/>
            </div>

        </div>

        <div class="tokio-intro__pagination swiper-pagination"></div>
        <div class="tokio-intro__button tokio-intro__button--prev swiper-button-prev"></div>
        <div class="tokio-intro__button tokio-intro__button--next swiper-button-next"></div>
    </div>
</div>
