@use "../2-tools/functions" as f;
@use "../1-settings/variables" as v;

.o-title--h2 {
  margin-bottom: 2rem;
  font-size: f.rem(36);
  font-weight: v.$fw-semi-bold;
  color: v.$color-primary;
}   

.o-title--h3 {
  margin-bottom: 1rem;
  font-family: v.$font-family-sans;
  font-size: f.rem(24);
  font-weight: v.$fw-semi-bold;
  color: v.$color-black;
}