@use "../2-tools/functions" as f;

// Typography
$font-family-sans: "Poppins", system-ui, -apple-system, "Segoe UI", Roboto,
"Helvetica Neue", Arial, sans-serif;
$font-family-serif: "EB Garamond", Georgia, "Times New Roman", serif;

// Font weights
$fw-regular: 400;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-extra-bold: 800;

// Colors
$color-primary: #bd0029;
$color-primary-hover: f.darken-color($color-primary);
$color-opacity: f.opacity(#fff, 0.8);
$color-background: #f9f9f9;
$color-border-light: #e1e1e1;
$color-white: #fff;
$color-black: #000;

// Breakpoints (max-width)
$bp-tablet: 1024px;
$bp-mobile: 768px;
